*{
    font-family:cursive;
    margin:0;
    padding:0;

}
body{
    background-image:url("2903.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center ;
    text-align: center;
    background-attachment:fixed;
    text-align: center;
   padding:50px ;
   }
 
 .ph1{
 
   width:100%;
 }
 h1{
  letter-spacing: 5px;
 }
 .part1{
  margin-bottom: 20px
 }
 h2{
  padding-top:20px;
  background: white
 }

 .part3{
 background: white ;
 padding-top:20px;
 padding-bottom: 20px;
 }
 .part2{
   background: #DDD;
   padding: 50px
 }
  .div2{
  background: #333;
 
  text-align: center;
padding-top: 100px;
 padding-bottom: 100px;
 }
 .main1{
 color: white;
 background: black;
 border-bottom: 3px;
 height: 10%;
width: 79.5%;
  margin-left: 120px;
  
 
}

.part4{
  color: grey;
 background:black;
 border-bottom: 3px;
  height: 10%;
   margin-left: 120px;
    width: 79.5%;
     
  }
   .ph6{

  width:100%;}
  
  .main2{
 background:grey;
padding-bottom: 30px;
 padding-top: 30px;
}
.part5{
  background:grey;
  color: #DDD;
  padding-bottom: 30px;
  
}
.ph7{

  width:100%;

}
.main3{
 
 background: #333;
  color:white;
   padding-top:20px ;
  
 }
.part6{
  background: #333;
  color:grey;
    padding-top: 20px;
  padding-bottom:20px 

}
.main4{
  color:black;
  background:#F0F8FF;
  padding-top: 20px;
  border: 5px
  
}
.part7{
  color:grey;
  background:#F0F8FF;
  padding-top: 20px;
  padding-bottom:20px 
}
.ph3 {
 float:left;
 display: inline-block;
 width: 40%;
 padding-right:110px ;
  margin-left: 120px
 
}
.ph2{
 float:left;
 display: inline-block;
 width: 40%;
padding-right:110px ;
margin-left: 120px;

 
 
}
.ph4{
 width: 40%;
 right: 120px;
position:relative ;
}

.ph5{
position:relative;
right: 120px;
 width: 40%;
}
 .div3{clear: both}
 


.icon{
width: 50px;
height: 40px;
color:grey
}
.div4{
 margin-bottom: 30px
}
.div5{
 
}
.icon1, .icon2,.icon3,.icon4 {
 width:30%;
 padding:0px
}
ul li{
    list-style:none;
    display:inline-flex;

   
}
ul li a:hover{
    float:left;
    background-color:gray;
    margin-bottom:20px
   
    
}